<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <display-name>master.com</display-name>
 <filter>
  <filter-name>Seguranca</filter-name>
  <filter-class>com.marcsoftware.system.Security</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>Seguranca</filter-name>
  <url-pattern>/application/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>com.marcsoftware.utilities.UserCounter</listener-class>
 </listener>
 <servlet>
  <display-name>Authentic</display-name>
  <servlet-name>Authentic</servlet-name>
  <servlet-class>com.marcsoftware.system.Authentic</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroUnidade</display-name>
  <servlet-name>CadastroUnidade</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroUnidade</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroBanco</display-name>
  <servlet-name>CadastroBanco</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroBanco</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroClienteFisico</display-name>
  <servlet-name>CadastroClienteFisico</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroClienteFisico</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroClienteJuridico</display-name>
  <servlet-name>CadastroClienteJuridico</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroClienteJuridico</servlet-class>
 </servlet>
 <servlet>
  <display-name>FuncionarioGet</display-name>
  <servlet-name>FuncionarioGet</servlet-name>
  <servlet-class>com.marcsoftware.gateway.FuncionarioGet</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroFuncionario</display-name>
  <servlet-name>CadastroFuncionario</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroFuncionario</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroPosicao</display-name>
  <servlet-name>CadastroPosicao</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroPosicao</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroEspecialidade</display-name>
  <servlet-name>CadastroEspecialidade</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroEspecialidade</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroProfissional</display-name>
  <servlet-name>CadastroProfissional</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroProfissional</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroServico</display-name>
  <servlet-name>CadastroServico</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroServico</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroTabela</display-name>
  <servlet-name>CadastroTabela</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroTabela</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroOrcamento</display-name>
  <servlet-name>CadastroOrcamento</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroOrcamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroParcela</display-name>
  <servlet-name>CadastroParcela</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroParcela</servlet-class>
 </servlet>
 <servlet>
  <display-name>ContaAdapter</display-name>
  <servlet-name>ContaAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ContaAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>MensalidadeAdapter</display-name>
  <servlet-name>MensalidadeAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.MensalidadeAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroMensalidade</display-name>
  <servlet-name>CadastroMensalidade</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroMensalidade</servlet-class>
 </servlet>
 <servlet>
  <description>cadastro das formas de pagamento</description>
  <display-name>CadastroFormaPagamento</display-name>
  <servlet-name>CadastroFormaPagamento</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroFormaPagamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroRamo</display-name>
  <servlet-name>CadastroRamo</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroRamo</servlet-class>
 </servlet>
 <servlet>
  <display-name>Termination</display-name>
  <servlet-name>Termination</servlet-name>
  <servlet-class>com.marcsoftware.system.Termination</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroBordero</display-name>
  <servlet-name>CadastroBordero</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroBordero</servlet-class>
 </servlet>
 <servlet>
  <display-name>ContaReceber</display-name>
  <servlet-name>ContaReceber</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ContaReceber</servlet-class>
 </servlet>
 <servlet>
  <display-name>Carteirinha</display-name>
  <servlet-name>Carteirinha</servlet-name>
  <servlet-class>com.marcsoftware.barcode.Carteirinha</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroFaturaEmpresa</display-name>
  <servlet-name>CadastroFaturaEmpresa</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroFaturaEmpresa</servlet-class>
 </servlet>
 <servlet>
  <display-name>Renovacao</display-name>
  <servlet-name>Renovacao</servlet-name>
  <servlet-class>com.marcsoftware.gateway.Renovacao</servlet-class>
 </servlet>
 <servlet>
  <display-name>ImageUpload</display-name>
  <servlet-name>ImageUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ImageUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>TesteJasper</display-name>
  <servlet-name>TesteJasper</servlet-name>
  <servlet-class>com.marcsoftware.utilities.TesteJasper</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroRelatorio</display-name>
  <servlet-name>CadastroRelatorio</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroRelatorio</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroParametro</display-name>
  <servlet-name>CadastroParametro</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroParametro</servlet-class>
 </servlet>
 <servlet>
  <display-name>GenericQuery</display-name>
  <servlet-name>GenericQuery</servlet-name>
  <servlet-class>com.marcsoftware.utilities.GenericQuery</servlet-class>
 </servlet>
 <servlet>
  <display-name>GeradorRelatorio</display-name>
  <servlet-name>GeradorRelatorio</servlet-name>
  <servlet-class>com.marcsoftware.utilities.GeradorRelatorio</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroCc</display-name>
  <servlet-name>CadastroCc</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroCc</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroLancamento</display-name>
  <servlet-name>CadastroLancamento</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroLancamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroCaixa</display-name>
  <servlet-name>CadastroCaixa</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroCaixa</servlet-class>
 </servlet>
 <servlet>
  <display-name>DependenteGet</display-name>
  <servlet-name>DependenteGet</servlet-name>
  <servlet-class>com.marcsoftware.gateway.DependenteGet</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroTipoConta</display-name>
  <servlet-name>CadastroTipoConta</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroTipoConta</servlet-class>
 </servlet>
 <servlet>
  <display-name>BorderoAdapter</display-name>
  <servlet-name>BorderoAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.BorderoAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroContrato</display-name>
  <servlet-name>CadastroContrato</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroContrato</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroFaturaVendedor</display-name>
  <servlet-name>CadastroFaturaVendedor</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroFaturaVendedor</servlet-class>
 </servlet>
 <servlet>
  <display-name>BorderoEmpresaAdapter</display-name>
  <servlet-name>BorderoEmpresaAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.BorderoEmpresaAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroConciliacao</display-name>
  <servlet-name>CadastroConciliacao</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroConciliacao</servlet-class>
 </servlet>
 <servlet>
  <display-name>CuponMensalidade</display-name>
  <servlet-name>CuponMensalidade</servlet-name>
  <servlet-class>com.marcsoftware.relmatricial.CuponMensalidade</servlet-class>
 </servlet>
 <servlet>
  <display-name>CustoOperacionalAdapter</display-name>
  <servlet-name>CustoOperacionalAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.CustoOperacionalAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroPlano</display-name>
  <servlet-name>CadastroPlano</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroPlano</servlet-class>
 </servlet>
 <servlet>
  <display-name>FaturaVendedorAdapter</display-name>
  <servlet-name>FaturaVendedorAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.FaturaVendedorAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroEncargo</display-name>
  <servlet-name>CadastroEncargo</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroEncargo</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroFornecedor</display-name>
  <servlet-name>CadastroFornecedor</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroFornecedor</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroPrestadorServico</display-name>
  <servlet-name>CadastroPrestadorServico</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroPrestadorServico</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroInsumo</display-name>
  <servlet-name>CadastroInsumo</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroInsumo</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroPedido</display-name>
  <servlet-name>CadastroPedido</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroPedido</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroParcelaCompra</display-name>
  <servlet-name>CadastroParcelaCompra</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroParcelaCompra</servlet-class>
 </servlet>
 <servlet>
  <display-name>ParcelaCompraAdapter</display-name>
  <servlet-name>ParcelaCompraAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ParcelaCompraAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>AcessoSys</display-name>
  <servlet-name>AcessoSys</servlet-name>
  <servlet-class>com.marcsoftware.gateway.AcessoSys</servlet-class>
 </servlet>
 <servlet>
  <display-name>RHAnexo</display-name>
  <servlet-name>RHAnexo</servlet-name>
  <servlet-class>com.marcsoftware.gateway.RHAnexo</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroEmpresaSaude</display-name>
  <servlet-name>CadastroEmpresaSaude</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroEmpresaSaude</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroOrcamentoEmp</display-name>
  <servlet-name>CadastroOrcamentoEmp</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroOrcamentoEmp</servlet-class>
 </servlet>
 <servlet>
  <display-name>UnidadeAnexo</display-name>
  <servlet-name>UnidadeAnexo</servlet-name>
  <servlet-class>com.marcsoftware.gateway.UnidadeAnexo</servlet-class>
 </servlet>
 <servlet>
  <display-name>ProfissionalAnexo</display-name>
  <servlet-name>ProfissionalAnexo</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ProfissionalAnexo</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroAcesso</display-name>
  <servlet-name>CadastroAcesso</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroAcesso</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroTabelaVigente</display-name>
  <servlet-name>CadastroTabelaVigente</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroTabelaVigente</servlet-class>
 </servlet>
 <servlet>
  <display-name>LoginCliente</display-name>
  <servlet-name>LoginCliente</servlet-name>
  <servlet-class>com.marcsoftware.client.LoginCliente</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroBoleto</display-name>
  <servlet-name>CadastroBoleto</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroBoleto</servlet-class>
 </servlet>
 <servlet>
  <display-name>BoletoAdapter</display-name>
  <servlet-name>BoletoAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.BoletoAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>CobrancaAdapter</display-name>
  <servlet-name>CobrancaAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.CobrancaAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>CartaoAdapter</display-name>
  <servlet-name>CartaoAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.CartaoAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>LogoHeaderUpload</display-name>
  <servlet-name>LogoHeaderUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.LogoHeaderUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>LogoReportUpload</display-name>
  <servlet-name>LogoReportUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.LogoReportUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroTabelaFranchising</display-name>
  <servlet-name>CadastroTabelaFranchising</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroTabelaFranchising</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroHistorico</display-name>
  <servlet-name>CadastroHistorico</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroHistorico</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroNotificacao</display-name>
  <servlet-name>CadastroNotificacao</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroNotificacao</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroFaturaFranchising</display-name>
  <servlet-name>CadastroFaturaFranchising</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroFaturaFranchising</servlet-class>
 </servlet>
 <servlet>
  <display-name>ContratoUpload</display-name>
  <servlet-name>ContratoUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ContratoUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>GuiaUpload</display-name>
  <servlet-name>GuiaUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.GuiaUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>OrcamentoUpload</display-name>
  <servlet-name>OrcamentoUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.OrcamentoUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>ContratoSocialUpload</display-name>
  <servlet-name>ContratoSocialUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ContratoSocialUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConciliacaoAdapter</display-name>
  <servlet-name>ConciliacaoAdapter</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ConciliacaoAdapter</servlet-class>
 </servlet>
 <servlet>
  <display-name>ChequeUpload</display-name>
  <servlet-name>ChequeUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.ChequeUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroGrupo</display-name>
  <servlet-name>CadastroGrupo</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroGrupo</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroAgendaPessoal</display-name>
  <servlet-name>CadastroAgendaPessoal</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroAgendaPessoal</servlet-class>
 </servlet>
 <servlet>
  <display-name>BorderoUpload</display-name>
  <servlet-name>BorderoUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.BorderoUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroCatalogo</display-name>
  <servlet-name>CadastroCatalogo</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroCatalogo</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroAdministrador</display-name>
  <servlet-name>CadastroAdministrador</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroAdministrador</servlet-class>
 </servlet>
 <servlet>
  <display-name>CTRProfUpload</display-name>
  <servlet-name>CTRProfUpload</servlet-name>
  <servlet-class>com.marcsoftware.gateway.CTRProfUpload</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroAgenda</display-name>
  <servlet-name>CadastroAgenda</servlet-name>
  <servlet-class>com.marcsoftware.system.CadastroAgenda</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>LogoCarteirinhaUpload</display-name>
 	<servlet-name>LogoCarteirinhaUpload</servlet-name>
 	<servlet-class>com.marcsoftware.gateway.LogoCarteirinhaUpload</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>CadastroVideo</display-name>
 	<servlet-name>CadastroVideo</servlet-name>
 	<servlet-class>com.marcsoftware.system.CadastroVideo</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>LogoDefaultUpload</display-name>
 	<servlet-name>LogoDefaultUpload</servlet-name>
 	<servlet-class>com.marcsoftware.gateway.LogoDefaultUpload</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>Centercob</display-name>
 	<servlet-name>Centercob</servlet-name>
 	<servlet-class>com.marcsoftware.gateway.Centercob</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Authentic</servlet-name>
  <url-pattern>/Authentic</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroUnidade</servlet-name>
  <url-pattern>/CadastroUnidade</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroBanco</servlet-name>
  <url-pattern>/CadastroBanco</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroClienteFisico</servlet-name>
  <url-pattern>/CadastroClienteFisico</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroClienteJuridico</servlet-name>
  <url-pattern>/CadastroClienteJuridico</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FuncionarioGet</servlet-name>
  <url-pattern>/FuncionarioGet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroFuncionario</servlet-name>
  <url-pattern>/CadastroFuncionario</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroPosicao</servlet-name>
  <url-pattern>/CadastroPosicao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroEspecialidade</servlet-name>
  <url-pattern>/CadastroEspecialidade</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroProfissional</servlet-name>
  <url-pattern>/CadastroProfissional</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroServico</servlet-name>
  <url-pattern>/CadastroServico</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroTabela</servlet-name>
  <url-pattern>/CadastroTabela</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroOrcamento</servlet-name>
  <url-pattern>/CadastroOrcamento</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroParcela</servlet-name>
  <url-pattern>/CadastroParcela</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ContaAdapter</servlet-name>
  <url-pattern>/ContaAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MensalidadeAdapter</servlet-name>
  <url-pattern>/MensalidadeAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroMensalidade</servlet-name>
  <url-pattern>/CadastroMensalidade</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroFormaPagamento</servlet-name>
  <url-pattern>/CadastroFormaPagamento</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroRamo</servlet-name>
  <url-pattern>/CadastroRamo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Termination</servlet-name>
  <url-pattern>/Termination</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroBordero</servlet-name>
  <url-pattern>/CadastroBordero</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ContaReceber</servlet-name>
  <url-pattern>/ContaReceber</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Carteirinha</servlet-name>
  <url-pattern>/Carteirinha</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroFaturaEmpresa</servlet-name>
  <url-pattern>/CadastroFaturaEmpresa</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Renovacao</servlet-name>
  <url-pattern>/Renovacao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ImageUpload</servlet-name>
  <url-pattern>/ImageUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TesteJasper</servlet-name>
  <url-pattern>/TesteJasper</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroRelatorio</servlet-name>
  <url-pattern>/CadastroRelatorio</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroParametro</servlet-name>
  <url-pattern>/CadastroParametro</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GenericQuery</servlet-name>
  <url-pattern>/GenericQuery</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GeradorRelatorio</servlet-name>
  <url-pattern>/GeradorRelatorio</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroCc</servlet-name>
  <url-pattern>/CadastroCc</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroLancamento</servlet-name>
  <url-pattern>/CadastroLancamento</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroCaixa</servlet-name>
  <url-pattern>/CadastroCaixa</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DependenteGet</servlet-name>
  <url-pattern>/DependenteGet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroTipoConta</servlet-name>
  <url-pattern>/CadastroTipoConta</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BorderoAdapter</servlet-name>
  <url-pattern>/BorderoAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroContrato</servlet-name>
  <url-pattern>/CadastroContrato</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroFaturaVendedor</servlet-name>
  <url-pattern>/CadastroFaturaVendedor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BorderoEmpresaAdapter</servlet-name>
  <url-pattern>/BorderoEmpresaAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroConciliacao</servlet-name>
  <url-pattern>/CadastroConciliacao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CuponMensalidade</servlet-name>
  <url-pattern>/CuponMensalidade</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CustoOperacionalAdapter</servlet-name>
  <url-pattern>/CustoOperacionalAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroPlano</servlet-name>
  <url-pattern>/CadastroPlano</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FaturaVendedorAdapter</servlet-name>
  <url-pattern>/FaturaVendedorAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroEncargo</servlet-name>
  <url-pattern>/CadastroEncargo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroFornecedor</servlet-name>
  <url-pattern>/CadastroFornecedor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroPrestadorServico</servlet-name>
  <url-pattern>/CadastroPrestadorServico</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroInsumo</servlet-name>
  <url-pattern>/CadastroInsumo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroPedido</servlet-name>
  <url-pattern>/CadastroPedido</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroParcelaCompra</servlet-name>
  <url-pattern>/CadastroParcelaCompra</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ParcelaCompraAdapter</servlet-name>
  <url-pattern>/ParcelaCompraAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AcessoSys</servlet-name>
  <url-pattern>/AcessoSys</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RHAnexo</servlet-name>
  <url-pattern>/RHAnexo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroEmpresaSaude</servlet-name>
  <url-pattern>/CadastroEmpresaSaude</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroOrcamentoEmp</servlet-name>
  <url-pattern>/CadastroOrcamentoEmp</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UnidadeAnexo</servlet-name>
  <url-pattern>/UnidadeAnexo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProfissionalAnexo</servlet-name>
  <url-pattern>/ProfissionalAnexo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroAcesso</servlet-name>
  <url-pattern>/CadastroAcesso</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroTabelaVigente</servlet-name>
  <url-pattern>/CadastroTabelaVigente</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LoginCliente</servlet-name>
  <url-pattern>/LoginCliente</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroBoleto</servlet-name>
  <url-pattern>/CadastroBoleto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BoletoAdapter</servlet-name>
  <url-pattern>/BoletoAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CobrancaAdapter</servlet-name>
  <url-pattern>/CobrancaAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CartaoAdapter</servlet-name>
  <url-pattern>/CartaoAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LogoHeaderUpload</servlet-name>
  <url-pattern>/LogoHeaderUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LogoReportUpload</servlet-name>
  <url-pattern>/LogoReportUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroTabelaFranchising</servlet-name>
  <url-pattern>/CadastroTabelaFranchising</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroHistorico</servlet-name>
  <url-pattern>/CadastroHistorico</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroNotificacao</servlet-name>
  <url-pattern>/CadastroNotificacao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroFaturaFranchising</servlet-name>
  <url-pattern>/CadastroFaturaFranchising</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ContratoUpload</servlet-name>
  <url-pattern>/ContratoUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GuiaUpload</servlet-name>
  <url-pattern>/GuiaUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OrcamentoUpload</servlet-name>
  <url-pattern>/OrcamentoUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ContratoSocialUpload</servlet-name>
  <url-pattern>/ContratoSocialUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConciliacaoAdapter</servlet-name>
  <url-pattern>/ConciliacaoAdapter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChequeUpload</servlet-name>
  <url-pattern>/ChequeUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroGrupo</servlet-name>
  <url-pattern>/CadastroGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroAgendaPessoal</servlet-name>
  <url-pattern>/CadastroAgendaPessoal</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroAgenda</servlet-name>
  <url-pattern>/CadastroAgenda</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BorderoUpload</servlet-name>
  <url-pattern>/BorderoUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroCatalogo</servlet-name>
  <url-pattern>/CadastroCatalogo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroAdministrador</servlet-name>
  <url-pattern>/CadastroAdministrador</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CTRProfUpload</servlet-name>
  <url-pattern>/CTRProfUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>LogoCarteirinhaUpload</servlet-name>
 	<url-pattern>/LogoCarteirinhaUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>CadastroVideo</servlet-name>
 	<url-pattern>/CadastroVideo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>LogoDefaultUpload</servlet-name>
 	<url-pattern>/LogoDefaultUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>Centercob</servlet-name>
 	<url-pattern>/Centercob</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>40</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
  <welcome-file>/WebContent/login.jsp</welcome-file>
  <welcome-file>/exception.jsp</welcome-file>
 </welcome-file-list>
 <!--<error-page>
  <exception-type>java.lang.Exception</exception-type>
  <location>/exception.jsp</location>
</error-page> -->
 <resource-ref>
  <res-ref-name>jdbc/master.com</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
 </resource-ref>
</web-app>
